* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Consolas', sans-serif;
}

body {
  background: #fff;
  text-align: center;
}

.calculator-case {
  margin: 7vh auto 7vh auto;
  background: #808080;
  width: 68vh;
  height: fit-content;
  border-radius: 6px;
  box-shadow: 2vh 2vh #303030;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.input-display {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 12vh;
  width: 62vh;
  outline: none;
  cursor: default;
  background: #ffe373;
  border: none;
  border-radius: 15px;
  font-size: 9vh;
  text-align: right;
}

.num-pad {
  font-size: 0;
  padding: 2vh;
}

.button {
  display: inline-block;
  width: 14vh;
  height: 14vh;
  background: #ffcc00;
  font-size: 12vh;
  cursor: pointer;
  margin: 1vh;
  border-radius: 15px;
  box-shadow: 0.5vh 0.5vh #a68500;
}

.button:active {
  background: #bfa330;
  box-shadow: none;
}
